@import play.mvc.Http.Request
@(projects: Seq[Project],form:Form[SearchBoxData])(implicit request: Request, messages: play.i18n.Messages)

@main("FreeLancerlot"){
    <h1>Welcome to FreeLancelot</h1>
  <div>
      <table>
          @for(p<-projects){
              <tr><td>@p.getOwnerId</td><td>@p.getType</td><td>@p.getTitle</td></tr>
          }
      </table>
  </div>
    @helper.form(routes.HomeController.search()) {
        @helper.CSRF.formField
        @helper.inputText(form("terms"))

        <button type="submit">Search</button>
    }
@*    <script type="text/javascript" src="@routes.HomeController.javascriptRoutes()">*@
@*        var phrase=document.getElementsByName("searchBox")*@
@*        var text=phrase.values();*@
@*        var button=document.getElementsByName("button")*@
@*        function getList() {*@
@*            //if (text !== null || text !== undefined || text !== '') {*@
@*                var r = jsRoutes.controllers.HomeController.list(text)*@
@*                $.ajax({*@
@*                    url: r.url,*@
@*                    type: r.type,*@
@*                    success: function (json) {*@
@*                        if(json.status=='success'){*@
@*                            var html=''*@
@*                            html+='<div>'*@
@*                                +'<p>'+json+'</p>'*@
@*                                +'</div>'*@
@*                        }*@
@*                    },*@
@*                    error: function () {*@
@*                        console.log("fail to connect")*@
@*                    }*@
@*                })*@
@*            //} else {*@
@*                //alert("Can not be empty in search box!")*@
@*            //}*@
@*        }*@
@*    </script>*@

}