@(request: play.mvc.Http.Request)

<!DOCTYPE html>
<html lang="en">

<head>
    <title>FreeLancelot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/prism.css")'>
    <link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.png")'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='@routes.Assets.versioned("javascripts/prism.js")' type="text/javascript"></script>
</head>

<body>
    <section id="top">
        <div class="wrapper">
            <img class="resize" src="assets/images/play_icon_reverse.svg" alt="logo" />
            <h1>Welcome to FreeLancelot</h1>
        </div>
    </section>
    <section>
        <form id="searchForm">
            Search : <input id="searchKeyWords" type="text" name="query" required></input>
            <input type="submit" value="Search"></input>
        </form>
    </section>
    <section>
        <table id="result">
            <!-- Placeholder for result -->
        </table>
    </section>
</body>
<script>
    // Create WebSocket connection
    const ws = new WebSocket('ws://localhost:9000/ws');
    var keywords;
    // Listen for message
    ws.addEventListener("message", function (event) {
        console.log(event.data);
        var i, len, ref, resp, row, skill, skillsContainer, readability;
        resp = JSON.parse(event.data);
        if(resp.flesch_index != null){
            $('#result').append($('<a>' + ' Search terms: ' + keywords + ': Flesh Reading Ease Index ' + resp.flesch_index + ' FKGL ' + resp.FKGL + '</a>'));
        }
        row = $('<tr/>');
        row.append($('<td/>').append($('<a href="/owner/' + resp.owner_id + '">' + resp.owner_id + '</a>')));
        row.append($('<td/>').append(resp.submitdate));
        row.append($('<td/>').append(resp.title));
        skillsContainer = $('<td/>').append($('<table style="border:none"/>').append($('<tr/>')));
        readability = $('<td/>').append($('<a href="/readability/' + resp.preview_description + '" target="_blank">' + 'readability' + '</a>'));
        ref = resp.skills;
        for (let i = 0; i < ref.length; i++) {
            skill = ref[i];
            skillsContainer.append($('<tr />').append($('<td style="border:none">').append($('<a href="/skill/' + skill + '" style="text-decoration: none;" target="_blank">' + skill + '</a>'))));
        }
        row.append(skillsContainer);
        row.append(readability);
        skillsContainer.append($('<hr />'));
        //$('#result').append($('<a>' + 'Search terms:' + keywords + 'Flesh Reading Ease Index ' + resp.preview_description + 'FKGL' + resp.FKGL));
        $('#result').append(row);
        document.getElementById("resultKeyWords").innerHTML = keywords;
    });
    $("#searchForm").submit(function (event) {
        console.log("submit: " + $("#searchKeyWords").val());
        event.preventDefault();
        ws.send(JSON.stringify({
            keywords: $("#searchKeyWords").val()
        }));
        keywords = $("#searchKeyWords").val();
        return $("#searchKeyWords").val("");
    });

</script>

</html>